body{
    margin: 0;
    padding: 0;
}

.listOfUsers{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.user{
    width: 500px;
    height: 60px;
    background-color: rgb(56, 182, 56);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    margin: 10px;
}
  
.user h3{
    margin-left: 15px;
}

button{
    margin: 8px;
}

